<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.team_project_eco._mappers.MbCarMapper">
    <select id="selectOne" parameterType="com.bitcamp.team_project_eco._mybatisCar.MbCar"
            resultType="com.bitcamp.team_project_eco._mybatisCar.MbCar">
        SELECT * FROM car WHERE carName LIKE #{carName} OR employee like #{carName}
    </select>

    <select id="selectAll" resultType="com.bitcamp.team_project_eco._mybatisCar.MbCar">
        SELECT * FROM car LIMIT 5
    </select>


</mapper>